{
  "service_account_key_file": "service_account_key_path",
  "service_account_id": "service_account_id",
  "image_labels": "image:label",
  "zone": "zone",
  "folder_id": "123456",
  "image_name": "image-{{timestamp}}",
  "source_image_family": "source_image_family",
  "image_family": "image_family",
  "ssh_username": "user",
  "platform_id": "instance_type",
  "use_ipv4_nat": "true",
  "ruby": "ruby_script_path",
  "mongo": "mongo_script_path"
}
